.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: row;

}
.box{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
  gap: 15px;
}

.profile-pic{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  /* box-shadow: 5px 5px 10px royalblue; */
  overflow: hidden;
  animation: myAnimation 3s infinite;

}
@keyframes myAnimation {
  0%{box-shadow: 5px 5px 10px royalblue;}
  25%{box-shadow: 5px 5px 10px rgb(106, 37, 117);}
  50%{box-shadow: 5px 5px 10px rgb(225, 65, 97);}
  70%{box-shadow: 5px 5px 10px rgb(65, 225, 206);}
  100%{box-shadow: 5px 5px 10px rgb(65, 225, 108);}

}
.pic{
  width: 200px;
  height: 200px;
}

textarea{
  width: 75%;
  height: 250px;
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 5px 5px 10px white ;
  background-color: transparent;
  color: white;
  padding: 10px;
  font-size: 20px;
}
textarea::-webkit-scrollbar{
  display: none;
}
.lable{
  color: white;
  font-size: 20px;
}


button{
  width: 80%;
  border: none;
  outline: none;
  color: white;
  background-color: royalblue;
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;

}
button:hover{
  box-shadow:5px 5px 10px greenyellow ;
}